<div class="row">
  <h1>
    <%= @user.username %>
    <% if current_user.eql? @user %>
      <%= link_to "Edit", edit_user_registration_path, class:'btn btn-outline-primary' %>
    <% end %>
  </h1>
</div>

<div class="row">
  <div class="col-12 col-lg-4">
    <h2>Hosted Events (<%= @user.hosted_events.count %>)</h2>
    <% if @user.hosted_events.count.zero? %>
      <p>You haven't created any events</p>
      <%= link_to "Create an Event", new_event_path, class: "btn btn-success" %>
    <% else %>
      <ul>
        <% @user.hosted_events.each do |event| %>
          <li>
            <%= link_to event.name, event_path(event) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col">
    <h2>Attending Events</h2>
    <div class="row">
      <div class="col-12 col-sm-6">
        <% events = @user.attending_events.future%>
        <h3>Future Events (<%= events.count %>)</h3>
        <% if events.empty? %>
          <p>You don't have future events.</p>
        <% else %>
          <ul>
            <% events.each do |event| %>
              <li>
                <%= link_to event.name, event_path(event) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="col">
        <% events = @user.attending_events.past %>
        <h3>Past Events (<%= events.count %>)</h3>
        <% if events.empty? %>
          <p>You haven't attended to any events.</p>
        <% else %>
          <ul>
            <% events.each do |event| %>
              <li>
                <%= link_to event.name, event_path(event) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
