<nav class="navbar navbar-dark bg-dark sticky-top mb-4">
    <%= link_to "Event Manager", root_path, class: "navbar-brand" %>

    <div class="hstack gap-2 me-3">
      <% if signed_in? %>
        <div class="btn-group">
          <%= link_to current_user.username, "", class: "btn btn-primary" %>
          <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item" %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary" %>
      <% end %>
    </div>
</nav>
