<h1><%=@event.name %></h1>

<p>
  <%= @event.description %>
</p>

<p>
  <span class="fw-bold">Location: </span>
  <%= @event.location %>
</p>

<p>
  <span class="fw-bold">Date: </span>
  <%= @event.date %>
</p>

<p>
  <span class="fw-bold">Creator: </span>
  <%= link_to @event.host.username, user_path(@event.host) %>
</p>
